sudo: required
language: java

services:
  - docker

before_install:
  - docker pull mariadb:latest
  - docker run --name testdb -e MYSQL_ROOT_PASSWORD=2 -e MYSQL_DATABASE=tanksdb_test -e MYSQL_USER=tanks-admin -e MYSQL_PASSWORD=tanks-password -p 52000:3306 -d mariadb
